<!doctype html>
<html lang="en">
	<head>
		<title>Daniil Metelia – Software Developer</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

    <meta name="title" content="Daniil Metelia – Software Developer" />
    <meta name="description" content="Hello! My name is Daniil and I'm a Software Developer. I thrive on developing robust, scalable, and maintainable web applications that drive business success. I maintain a strong focus on clean, testable code and efficient architecture." />
    <meta name="keywords" content="Daniil Metelia, software developer, React, Node.js, Next.js, JavaScript, TypeScript, frontend developer, web development, full-stack developer" />
    <meta name="author" content="Daniil Metelia" />

		<meta property="og:type" content="website" />
		<meta property="og:title" content="Daniil Metelia – Software Developer" />
    <meta property="og:description" content="Hello! My name is Daniil and I'm a Software Developer. I thrive on developing robust, scalable, and maintainable web applications that drive business success. I maintain a strong focus on clean, testable code and efficient architecture." />
		<meta property="og:image" content="https://daniilmetelia.vercel.app/meta.png" />

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content="Daniil Metelia – Software Developer" />
    <meta property="twitter:description" content="Hello! My name is Daniil and I'm a Software Developer. I thrive on developing robust, scalable, and maintainable web applications that drive business success. I maintain a strong focus on clean, testable code and efficient architecture." />
		<meta property="twitter:image" content="https://daniilmetelia.vercel.app/meta.png" />

		<meta name="robots" content="index, follow" />
    <meta name="language" content="en" />
    <meta name="rating" content="general" />
	</head>
	<body>
		<main class="w-[710px] mx-auto pb-10 py-16 max-md:w-full max-md:px-4">
			<slot />
		</main>
	</body>
</html>
