<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniil Metelia</title>
	</head>
	<body>
		<main class="w-[710px] mx-auto pb-10 py-16 max-md:w-full max-md:px-4">
			<slot />
		</main>
	</body>
</html>
